In [5]:
#Pandas: Dataset library
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_colwidth = -1

#Read dataset
ds = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTUq3t_TsoU43_WqpNkP9slxKWakZtbeJPktZH-wE5uK37p64nELJN1j8SoL9lBdu8pKYP5PFkOF3fl/pub?gid=1035649543&single=true&output=csv", decimal=',')

#Print dataset
ds.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,ANTIOQUIA,LA CEJA,5376000,MOTO,01/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO),1
1,ATLÁNTICO,BARRANQUILLA (CT),8001000,MOTO,01/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO),1
2,ATLÁNTICO,LURUACO,8421000,MOTO,01/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO),1
3,CAQUETÁ,PUERTO RICO,18592000,MOTO,01/01/2010,MASCULINO,ADOLESCENTES,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO),1
4,CASANARE,AGUAZUL,85010000,MOTO,01/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO),1